//U99350821
.rate-movie-button {
    text-align: center;
    margin: 20px;
  }
  
  .stars {
    display: inline-block;
  }
  
  .star {
    font-size: 2em;
    cursor: pointer;
    color: gray;
  }
  
  .star.selected {
    color: gold;
  }
  
